<!-- new.html.erb -->


	
	<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="/" class="navbar-brand svg" title="Engine Yard">
        <object id="logo" class="logo" type="image/svg+xml" data="/images/global/engine-yard-pink.svg">
          <div></div>
        </object>
      </a> -->
       <h4><img src="/assets/girl_weights.gif" height="50" width="50" class="top-words"><a href="/">Welcome to the FitFinder!</a></h4>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown platform">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Platform">Healthy Eating</a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="http://allrecipes.com/recipes/87/everyday-cooking/vegetarian/">Vegetarian Eating</a></li>
            <li><a href="http://allrecipes.com/recipes/741/healthy-recipes/gluten-free/" title="Gluten">Gluten Free Eating</a></li>
            <li><a href="http://allrecipes.com/recipes/738/healthy-recipes/dairy-free/" title="Dairy">Dairy Free Eating</a></li>
            <li><a href="http://blog.myfitnesspal.com/20-meat-lover-meals-under-400-calories/" title="Meat">Meat Lovers</a></li>
            <li><a href="http://www.countryliving.com/food-drinks/g1331/healthy-desserts/">Desserts</a></li>
          </ul>
        </li>
        <li class="dropdown services">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Services">Social Media</a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="http://www.harpersbazaar.com/beauty/diet-fitness/g4018/inspiring-fitness-girls-on-instagram/">Inspiration</a></li>
            <li><a href="https://www.facebook.com/ScottFishmanNYC?fref=ts">Facebook: Motivation</a></li>
             <li><a href="https://www.instagram.com/fittlyss/?hl=en">Instagram: Fitness</a></li>
            <li><a href="https://twitter.com/fltness?lang=en">Twitter: Fitness & Health</a></li>
            <li><a href="https://twitter.com/BeFitMotivation?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter: Motivation</a></li>
           
          </ul>
        </li>

		
         <li class="dropdown services">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Services">About Me</a>
          <ul class="dropdown-menu dropdown-menu-left">
         <li><a href="https://github.com/armaultasch" title="GitHub">GitHub</a></li>
         <li><a href="https://www.linkedin.com/in/alison-maultasch" title="LinkedIn">LinkedIn</a></li>
     </ul>
       </li>
          <li><a href="mailto:alison@sit2fit.co?Subject=Hello%20again" target="_top">Email Us</a></li>

           <li><a href="http://www.rateyourburn.com/">Rate Your Burn</a></li>
     <li>
         <a href="/welcome/new" title="training">Training Videos</a>
       </li>
      </ul>
    </div>
  </div>
</nav>

<div class="new">
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4 train">

<img src="/assets/yoga.jpg" height="400" width= "500">
<h3><a href="https://www.youtube.com/watch?v=rPd_TQWZSUQ">Yoga</a></h3>
<img src="/assets/pilates.jpg" height="400" width= "500">
<h3><a href="https://www.youtube.com/watch?v=2GEjVdP2YGk">Pilates</a></h3>
</div>
<div class="col-lg-4 train">
	<img src="/assets/boxing.jpg" height="400" width= "500"><h3><a href="https://www.youtube.com/watch?v=Vve4BVTZ0QU">Boxing</a></h3>
	<img src="/assets/spin.jpg" height="400" width= "500">
	<h3><a href="https://www.youtube.com/watch?v=NOpbiP3mkJ0">Cycling</a></h3>
</div>
<div class="col-lg-4 train">
	<img src="/assets/barre.jpg" height="400" width= "500">
	<h3><a href="https://www.youtube.com/watch?v=7rv5s5IpnYI">Barre</a></h3>
	<img src="/assets/weight.jpg" height="400" width= "500"><h3><a href="https://www.youtube.com/watch?v=tTl6MgjL2E8">Weight Training</a></h3>

</div>
</div>


</div>
</div>



<footer>

  <div class="footer-fix text-center footer">
  

        <h4 >
          FitFind is a way to bring what you like to do to your fingertips in seconds.
        </h4>
        <h4 >
           We aim to find the best places and prices for your needs to ensure you not only get a good work out, but are doing the work out you enjoy!
        </h4>


   
 
</div>

</footer>
