<!-- index.html.erb -->

<div class="row1">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="/" class="navbar-brand svg" title="Engine Yard">
        <object id="logo" class="logo" type="image/svg+xml" data="/images/global/engine-yard-pink.svg">
          <div></div>
        </object>
      </a> -->
      <h4><img src="/assets/girl_weights.gif" height="50" width="50" class="top-words"><a href="/">Welcome to the FitFinder!</a></h4>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown platform">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Platform">Healthy Eating</a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="http://allrecipes.com/recipes/87/everyday-cooking/vegetarian/">Vegetarian Eating</a></li>
            <li><a href="http://allrecipes.com/recipes/741/healthy-recipes/gluten-free/" title="Gluten">Gluten Free Eating</a></li>
            <li><a href="http://allrecipes.com/recipes/738/healthy-recipes/dairy-free/" title="Dairy">Dairy Free Eating</a></li>
            <li><a href="http://blog.myfitnesspal.com/20-meat-lover-meals-under-400-calories/" title="Meat">Meat Lovers</a></li>
            <li><a href="http://www.countryliving.com/food-drinks/g1331/healthy-desserts/">Desserts</a></li>
          </ul>
        </li>
        <li class="dropdown services">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Services">Social Media</a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="http://www.harpersbazaar.com/beauty/diet-fitness/g4018/inspiring-fitness-girls-on-instagram/">Inspiration</a></li>
            <li><a href="https://www.facebook.com/ScottFishmanNYC?fref=ts">Facebook: Motivation</a></li>
             <li><a href="https://www.instagram.com/fittlyss/?hl=en">Instagram: Fitness</a></li>
            <li><a href="https://twitter.com/fltness?lang=en">Twitter: Fitness & Health</a></li>
            <li><a href="https://twitter.com/BeFitMotivation?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter: Motivation</a></li>
           
          </ul>
        </li>
        <li class="dropdown services">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Services">About Me</a>
          <ul class="dropdown-menu dropdown-menu-left">
         <li><a href="https://github.com/armaultasch" title="GitHub">GitHub</a></li>
         <li><a href="https://www.linkedin.com/in/alison-maultasch" title="LinkedIn">LinkedIn</a></li>
     </ul>
       </li>
         
            <li><a href="mailto:alison@sit2fit.co?Subject=Hello%20again" target="_top">Email Us</a></li>
            <li><a href="http://www.rateyourburn.com/">Rate Your Burn</a></li>
           
          
    <li>
         <a href="/welcome/new" title="training">Training Videos</a>
       </li>
      </ul>
    </div>
  </div>
</nav>
</div>
<div class="container-fluid top home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center" id="headline">
          Finding the best classes for <strong> YOU. </strong><br>
         
        <h3 class="text-center black editable" id="subheading">
          FitFinder is a way to bring the classes available in the Miami area to your fingertips in seconds.  The NO COMMITMENT does not require any personal or payment information.  FitFinder will simply ask you where you are, and what type of exercise you enjoy, in hopes of finding the best studio for you.  <br>
          <p></p>
          Whether you are just visiting the Miami area, or you're looking for the occasional mix in everyday gym rotation - the FitFinder has you covered. A way to see what's happening near you, when you're available, whenever you want.
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
          
        </h3></h1></br>
      

        <!-- <img src = "/assets/addiction.png" height = "200" width = "250"> -->
      </div>
      
    </div>
  </div>
</div>
<ul>
	<% @posts.each do |post| %>
		<li class = "js-post" data-id = "<%=post.id%>"><%= post.email %><%= post.description %></li>
		
	<%end%>
</ul>

<%= link_to "Add a new post", new_post_path %><br>


<a href="/">
    Go Back</a>


<footer>

  <div class="footer-fix text-center footer">
    <div class="row">

        <h4 >
          FitFinder is a way to bring available classes in the Miami area to you.
        </h4>
        <h4 >
           We aim to find the best studios and classes for your needs, to ensure that you're doing what you want, when you want! Hope that you enjoy..
        </h4>


   
  </div>
</div>

</footer>
    
